


<div class="container" style="margin-top: 150px;">
<div class="d-flex" >
 
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><h2>Latest Covid-19 News list</h2></div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light"><app-latest-news-list></app-latest-news-list></a>
      </div>
    </div>
 

    <div id="page-content-wrapper">

      <div style="margin-left: 20%;">
        <h1 class="mt-4"><router-outlet></router-outlet></h1>
      </div>
    </div>

  </div>
</div>

<!-- <div class="row" style="margin-top:150px">
    <div class="col-md-5">
      <app-latest-news-list></app-latest-news-list>
    </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div> -->