<div class="row">
  <div class="col-xs-12">
    <img
      [src]="new.imagePath"
      alt="new.newsTitle"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-bottom: 3%; margin-top: 3%;">
    <h1>{{ new.newsTitle }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-bottom: 3%; margin-top: 3%;">
    <h4>{{ new.description }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-bottom: 3%; margin-top: 3%;">
    <p>{{ new.fullNews }}</p>
  </div>
</div>