
  <div class="container" style="margin-top: 90px;">
   

    <div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
        <h1> PRECAUTIONS FOR COVID-19 </h1>
        <h3 style="margin-top:50px; color:red">  STAY HOME SAVE LIVES. </h3>
        <img 
        width="300" align="right"
          alt="Stay Home" 
          src="https://image.freepik.com/free-vector/stay-home-stay-safe-green-symbol-design_1017-24656.jpg"
          />

          <div style="margin-top: 50px;">
        <ul style="list-style-type:disc;">
          <li>
            Wear mask in public places
            <p>Wearing a mask is not necessary unless you are taking care of an infected person. The Centers for Disease Control (CDC) does recommend that only infected people wear masks to prevent the spread of the virus.
            </p></li>
          <li>
            <p>Wash your hands frequently</p>
            Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on your hands.
          </li>
          <li>Maintain social distancing
            <p>
            Maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or sneezing.
            When someone coughs or sneezes they spray small liquid droplets from their nose or mouth which may contain virus. If you are too close, you can breathe in the droplets, including the COVID-19 virus if the person coughing has the disease.</p>
          </li>
          <li>
            Avoid touching eyes, nose and mouth
            <p>Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body and can make you sick.</p>
          </li>
          <li>
            Practice respiratory hygiene
            <p>Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue immediately.</p>
          </li>
          <li>
            <p>If you have a fever, cough and difficulty breathing, seek medical attention, but call by telephone in advance if possible and follow the directions of your local health authority. Why? National and local authorities will have the most up to date information on the situation in your area. Calling in advance will allow your health care provider to quickly direct you to the right health facility. This will also protect you and help prevent spread of viruses and other infections.</p>
          </li>
          <li>
            <p>Keep up to date on the latest information from trusted sources, such as WHO or your local and national health authorities. Why? Local and national authorities are best placed to advise on what people in your area should be doing to protect themselves.</p>
          </li>
        </ul>
      </div>
    </div>


  </div>
  