<div class="wrapper fadeInDown" style="margin-top:150px">
    <div id="formContent">
      <!-- Tabs Titles -->
  
    <div class="alert alert-danger" *ngIf="error">
        <p>{{error}}</p>
    </div>

      <!-- Icon -->
      <div class="fadeIn first">
        <img width=10 src="https://cdn2.iconfinder.com/data/icons/audio-16/96/user_avatar_profile_login_button_account_member-512.png" id="icon" alt="User Icon" />
        <p style="color:#58baed"><b>LOGIN</b></p>
      </div>
  
      <!-- Login Form -->
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <input 
        type="text" 
        id="login" class="fadeIn second" 
        placeholder="login" 
        ngModel
        name="loginID"
        minlength="5"
        required
        />
        <!-- <span *ngIf="!loginForm.get('loginID').valid && loginForm.get('loginID').touched"></span> -->
        <input
         type="password"
         id="password" class="fadeIn third" 
         placeholder="password"
         ngModel
         name="password"
         required
         minlength="5"
         />
        <input type="submit" class="fadeIn fourth" value="Log In" [disabled]="!loginForm.valid">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>